.radio-buttons {
  text-align: left;
}

.container-invalid-feedback {
  width: 100%;
}

.has-danger {
  height: 75px;
}

.invalid-feedback {
  position: absolute;
  display: block;
}

.input-amount input {
  background-image: none;
}
