<div id="transaction-create" class="container">
	<h2>New transaction:</h2>
	<h3>Balance: {{ balance }}</h3>
	<form (ngSubmit)="onSubmit()" novalidate>
		<label><input type="radio" name="type" value="income" [(ngModel)]="transaction.type">Income</label>
		<label><input type="radio" name="type" value="outgo" [(ngModel)]="transaction.type">Outgo</label>
		<input type="text" name="amount" placeholder="amount" (keypress)="numberOnly($event)" [(ngModel)]="amountStr">
		<button [disabled]="!isActive()">Add</button>
	</form>
</div>