.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
label:hover {
  cursor: pointer;
}
button {
  pointer-events: none;
}
.active {
  pointer-events: all;
}