<div id="add-transaction" class="container">
	<h2>New transactions:</h2>
	<h3>Balance: {{ balance }}</h3>
	<form (ngSubmit)="onSubmit()" novalidate>
		<label><input type="radio" name="type" value="income" [(ngModel)]="transaction.type">Income</label>
		<label><input type="radio" name="type" value="outgo" [(ngModel)]="transaction.type">Outgo</label>
		<input type="text" name="amount" placeholder="amount" (keypress)="numberOnly($event)" [(ngModel)]="amount">
		<button [disabled]="!isActive()">Add</button>
	</form>
</div>
