h2 {
  margin-top: 20px;
}

.transaction-description {
  position: absolute;
}

.table {
  margin-top: 30px;
}

.table td {
  padding: .6rem;
}

.table td, th {
  cursor: pointer;
}

.table tr:hover{
  background-color: rgba(0, 0, 0, 0.075);
  transition: .4s;
}

.close:active {
  outline: none;
}
