/* transactionsComponent's private CSS styles */
.transactions {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.transactions tr {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.transactions tr:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.transactions tr.selected {
  background-color: #CFD8DC;
  color: white;
}
.transactions tr.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.transactions .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: 0;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.container {
  display: flex;
  justify-content: center;
}
.transaction-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-transaction {
  border: none;
  background: inherit;
}
.delete-transaction::after {
  content: '\2715';
  cursor: pointer;
  position: absolute;
  color: red;
  right: 8px;
  top: 8px;
}