.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #0062cc;
  line-height: 2.5em;
  position: relative;
  left: -1px;
  top: 0;
  height: 4em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.container {
  display: flex;
  justify-content: center;
}

.transaction-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  text-align: center;
}

.btn-delete {
  border: 1px solid #0062cc;
  background: inherit;
  color: #0062cc;
  border-radius: 15px;
}

.btn-delete:focus {
  outline: none;
}
