<div class="container text-center fade-in">
    <h2><strong>Transactions</strong></h2>
    <h4>Balance: {{ balance }}</h4>
  <div class="row">
    <div class="alert alert-dismissible alert-light transaction-description" *ngIf="selectedTransaction">
      <h2><strong>Number of transaction:</strong> {{ selectedTransaction.id }}</h2>
      <h3><strong>Type:</strong> {{ selectedTransaction.type }}, <strong>Amount:</strong> {{ selectedTransaction.amount }}</h3>
    </div>
    <div class="m-auto col-md-3">
      <table class="table">
        <tr *ngFor="let transaction of transactions" [class.selected]="isSelected(transaction)" (click)="onSelect(transaction)">
          <th scope="row">{{ transaction.id }}</th>
          <td>{{ transaction.type }}</td>
          <td>{{ transaction.amount }}</td>
          <td>
            <button type="button" class="close" aria-label="Close" (click)="deleteTransaction(transaction)">
              <span aria-hidden="true">&times;</span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
